<a href="https://colab.research.google.com/github/pavstar619/ML_statistics_models/blob/master/ML_Naive_bayes_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Predict class of a previously unseen data point
#### https://en.wikipedia.org/wiki/Naive_Bayes_classifier

In [ ]:
import numpy as np
import pandas as pd

#### predict gender using height, weight and foot size

In [ ]:
data = pd.DataFrame()

In [ ]:
# target var
data['Gender'] = ['male','male','male','male','female','female','female','female']

In [ ]:
# feature vars
data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [180,190,170,165,100,150,130,150]
data['Foot_Size'] = [12,11,12,10,6,8,7,9]
data

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [ ]:
# Compare with person
person = pd.DataFrame()

In [ ]:
person['Height'] = [6]
person['Weight'] = [180]
person['Foot_Size'] = [12]
person

   Height  Weight  Foot_Size
0       6     180         12

In [ ]:
# Calculate priors
n_male = data['Gender'][data['Gender'] == 'male'].count()
n_female = data['Gender'][data['Gender'] == 'female'].count()
total_ppl = data['Gender'].count()
total_ppl

8

In [ ]:
#Probability of male or female
P_male = n_male/total_ppl
P_female = n_female/total_ppl

In [ ]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Gender').mean()
data_means

        Height  Weight  Foot_Size
Gender
female  5.4175  132.50       7.50
male    5.8550  176.25      11.25

In [ ]:
# Group the data by gender and calculate the variance of each feature
data_variance = data.groupby('Gender').var()
data_variance

          Height      Weight  Foot_Size
Gender
female  0.097225  558.333333   1.666667
male    0.035033  122.916667   0.916667

#### Create vars for height, weight, foot size for male and female

In [ ]:
# Means for male
male_height_mean = data_means['Height'][data_variance.index == 'male'].values[0]
male_weight_mean = data_means['Weight'][data_variance.index == 'male'].values[0]
male_footsize_mean = data_means['Foot_Size'][data_variance.index == 'male'].values[0]

# Variance for male
male_height_variance = data_variance['Height'][data_variance.index == 'male'].values[0]
male_weight_variance = data_variance['Weight'][data_variance.index == 'male'].values[0]
male_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'male'].values[0]

# Means for female
female_height_mean = data_means['Height'][data_variance.index == 'female'].values[0]
female_weight_mean = data_means['Weight'][data_variance.index == 'female'].values[0]
female_footsize_mean = data_means['Foot_Size'][data_variance.index == 'female'].values[0]

# Variance for female
female_height_variance = data_variance['Height'][data_variance.index == 'female'].values[0]
female_weight_variance = data_variance['Weight'][data_variance.index == 'female'].values[0]
female_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'female'].values[0]

In [ ]:
# eg, P(Height | Female)
# Create a function that calculates p(x | y):
def p_x_given_y(x, mean_y, variance_y):

    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    
    # return p
    return p

In [ ]:
#Check if male
# Numerator of the posterior if the unclassified observation is a male
a=(
P_male * \
p_x_given_y(person['Height'][0], male_height_mean, male_height_variance) * \
p_x_given_y(person['Weight'][0], male_weight_mean, male_weight_variance) * \
p_x_given_y(person['Foot_Size'][0], male_footsize_mean, male_footsize_variance))

In [ ]:
# Check if female
# Numerator of the posterior if the unclassified observation is a female
b=(
P_female * \
p_x_given_y(person['Height'][0], female_height_mean, female_height_variance) * \
p_x_given_y(person['Weight'][0], female_weight_mean, female_weight_variance) * \
p_x_given_y(person['Foot_Size'][0], female_footsize_mean, female_footsize_variance))

In [ ]:
if (a > b):
  print('Male')
else:
  print('Female')

Male